[project]
[access "refs/*"]
	create = group Tuna Maintainers
	forgeCommitter = group Tuna Maintainers
	push = +force group Tuna Maintainers
	pushMerge = group Tuna Maintainers
	label-Code-Review = -2..+2 group Tuna Maintainers
	label-Verified = -1..+1 group Tuna Maintainers
	submit = group Tuna Maintainers
[submit]
	action = rebase if necessary
